.App {
  text-align: center;
}

body {
  background-image: url("../images/witewall_3.png");
}

nav, footer {
  background: linear-gradient(darkgray, lightgray);
  color: steelblue;
  font-size: 24px;
  margin: 0px auto;
  padding: 20px 10px;
  text-align: left;
  width: 80%;
}

nav {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 100px;
}

footer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 28px;
  text-align: right;
}

.parent {
  height: 377px;
  margin-top: 30px;
}

input {
  color: steelblue;
  font-size: 1.5em;
  height: 25px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

input[type=submit] {
  background-color: deepskyblue;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  padding: 4px 6px;
}

.message {
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  color: gray;
  font-size: 28px;
  height: 175px;
  margin: 20px auto;
  padding: 5px;
  width: 40%;
}

footer {
    background: linear-gradient(lightgray, darkgray);
}
